<?xml version="1.0"?>
<psalm
    addParamDefaultToDocblockType="true"
    allowNamedArgumentCalls="false"
    allowPhpStormGenerics="true"
    cacheDirectory="build/psalm.cache"
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    ensureArrayIntOffsetsExist="true"
    ensureArrayStringOffsetsExist="true"
    errorLevel="1"
    findUnusedCode="true"
    findUnusedPsalmSuppress="true"
    findUnusedVariablesAndParams="true"
    forbidEcho="true"
    ignoreInternalFunctionFalseReturn="false"
    ignoreInternalFunctionNullReturn="false"
    runTaintAnalysis="true"
    strictBinaryOperands="true"
    throwExceptionOnError="true"
    useDocblockPropertyTypes="true"
    usePhpDocMethodsWithoutMagicCall="true"
    usePhpDocPropertiesWithoutMagicCall="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="tests"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
</psalm>
